h2 {
    text-align: center;
    margin: 0;

    position: absolute;
    width: 100%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;

    @media only screen and (min-device-width: 992px) {
        font-size: 5vw;
    }
    @media only screen and (min-device-width: 1200px) {
        font-size: 3.8vw;
    }
    
}