div.container {
    border: 0.1px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.35);

    position: absolute;
    @media screen and (min-device-width: 992px) {
        width: 50%;
        height: 90%;
        left: 25%;
        top: 5%;
    }
    @media screen and (min-device-width: 1200px) {
        width: 40%;
        height: 90%;
        left: 30%;
        top: 5%;
    }
    
}