html {
    margin: 0;
    padding: 0;
    border: 0;

    overflow: hidden;
};

body {
    background-color: #cdcdcd;
    margin: 0;
};

@mixin desktop {
    @media only screen and (min-width: 1200px) {
        @content
    }
};
@mixin laptop {
    @media only screen and (min-width: 992px) {
        @content
    }
};
@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content
    }
};
@mixin phone {
    @media only screen and (min-width: 576px) {
        @content
    }
};
@mixin small-phone {
    @media only screen and (max-width: 576px) {
        @content
    }
};

@function col($num) {
    $width: ($num / 12) * 100vw;
    @return $width;
};
@function row($num) {
    $height: ($num / 12) * 100vh;
    @return $height;
};