@import './index.style.scss';

:root {
    --animate: none;
    --show-login-container: block;
}

div#container {
    border: 0.1px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.35);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include small-phone {
        width: 95%;
        height: 98%;
    }
    @include phone {
        width: 90%;
        height: 90%;
    }
    @include tablet {
        width: 60%;
        height: 90%;
    }
    @include laptop {
        width: 50%;
        height: 90%;
    };
    @include desktop {
        width: 40%;
        height: 90%;
    }

    animation-name: var(--animate);
    animation-duration: 1.5s;

    display: var(--show-login-container);
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateY(0);
    }
    100% {
        transform: translate(-50%, -50%) rotateY(180deg);
    }
}
