@use 'index.style.scss' as fn;
@import 'index.style.scss';

@mixin btn($height, $top, $left, $fontSize, $col) {
    top: $top;
    left: $left;
    height: $height;
    font-size: $fontSize;
    width: fn.col($col);
}

input {
    border-radius: 100px;

    text-align: center;
    
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    @include laptop {
        font-size: 1.2vw;
        height: 5vh;
        width: fn.col(4);
    }
    @include desktop {
        font-size: 1.25vw;
        height: 5vh;
        width: fn.col(4);
    }
};
#emailInput {
    @include laptop {
        top: 38%;
    }
}
#passwordInput {
    @include laptop {
        top: 44.5%;
    }
    @include desktop {
        top: 45%;
    }
}

button {
    border: 0;
    border-radius: 100px;

    background-color: rgba(184,216,190, 0.8);
    color: black;

    text-align: center;

    position: absolute;
    transform: translate(-50%, -50%);

    &:hover {
        background-color: rgba(151,198,160, 0.8);
    }
};
#btn-sign-up {
    @include laptop {
        @include btn(7.45vh, 60%, 27.5%, 1.2vw, 2);
    }
    @include desktop {
        @include btn(7.5vh, 64%, 25%, 1.25vw, 2);
    }
}
#btn-log-in {
    @include laptop {
        @include btn(7.45vh, 60%, 72.5%, 1.2vw, 2);
    }
    @include desktop {
        @include btn(7.5vh, 64%, 75%, 1.25vw, 2);
    }
}

#btn-google {
    @include laptop {
        @include btn(3.95vh, 87.5%, 25%, 1.2vw, 1);
    }
    @include desktop {
        @include btn(4vh, 87.5%, 25%, 1.25vw, 1);
    }
}
#btn-facebook {
    @include laptop {
        @include btn(3.95vh, 87.5%, 50%, 1.2vw, 1);
    }
    @include desktop {
        @include btn(4vh, 87.5%, 50%, 1.25vw, 1);
    }
}
#btn-github {
    @include laptop {
        @include btn(3.95vh, 87.5%, 75%, 1.2vw, 1);
    }
    @include desktop {
        @include btn(4vh, 87.5%, 75%, 1.25vw, 1);
    }
}
#btn-google, #btn-facebook, #btn-github {
    background-color: white;
    &:hover {
        background-color: #f2f2f2;
    }
}

#google-icon, #facebook-icon, #github-icon {
    margin: 0;
    border: 0;
    padding: 0;

    @include laptop {
        height: 1.75vh;
        width: 1.75vh;
    }
    @include desktop {
        height: 2vh;
        width: 2vh;
    }
}

#other-sign-in-way {
    text-align: center;

    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    @include laptop {
        font-size: 1.15vw;
        top: 80%;
    }
    @include desktop {
        font-size: 1.2vw;
        top: 80%;
    }
}