@import './index.style.scss';

h2 {
    text-align: center;
    margin: 0;

    position: absolute;
    width: 100%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include laptop {
        font-size: 3.8vw;
    };
    @include desktop {
        font-size: 5vw;
    };

    display: if(bool(var(show)), block, none);
}